Demo/FHKStorageDemo/FHKStorageDemo.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Demo/FHKStorageDemo/FHKStorageDemo.xcodeproj/project.xcworkspace/xcuserdata/fredyleon.xcuserdatad/UserInterfaceState.xcuserstate
Demo/FHKStorageDemo/FHKStorageDemo.xcodeproj/xcuserdata/fredyleon.xcuserdatad/xcschemes/xcschememanagement.plist
Package.resolved
